<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= image_tag("LJFF-logo.png", :alt => "The Lebron James Family Foundation", :class => "styleImage") %>
    </div>
  </div>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">THE LEBRON JAMES FAMILY FOUNDATION</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
<<<<<<< HEAD
        <li><%= link_to "Calendar", calendar_index_path %></li>
        <li><%= link_to "Chat", chat_index_path %></li>	
		<li><%= link_to "Points Locker", points_locker_index_path %></li>
		<li><%= link_to "Reporting", reporting_index_path %></li>		            	 
=======
        <li><%= link_to "CALENDAR", calendar_index_path %></li>
        <li><%= link_to "CHAT", chat_index_path %></li>
		<li><%= link_to "POINTS LOCKER", points_locker_index_path %></li>
		<li><%= link_to "REPORTING", reporting_index_path %></li>
>>>>>>> 9a20e3c6023098466c3e0c6d0d737bec8ab2716b
      </ul>
    </div>
  </div>
</nav>
